@model StudentManagement.Models.Registration

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Registration</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Student.Name" class="control-label"> Student Name</label>
                <select asp-for="StudentId" class="form-control"  asp-items="ViewBag.Student"></select>
            </div>
            <div class="form-group">
                <label asp-for="Student.Address" class="control-label">Student Address</label>
                <select asp-for="StudentId" class="form-control" asp-items="ViewBag.StudentAddress"></select>
            </div>
            <div class="form-group">
                <label asp-for="Student.PhoneNo" class="control-label"> Student PhoneNo</label>
                <select asp-for="StudentId" class="form-control" asp-items="ViewBag.StudentPhoneNo"></select>

            </div>
            <div class="form-group">
                <label asp-for="Payment.Type" class="control-label"> Payment Type</label>
                <select asp-for="PaymentId" class="form-control"  asp-items="ViewBag.Payment"></select>
            </div>
            <div class="form-group">
                <label asp-for="Payment.Amount" class="control-label">Payment Amount</label>

                <select asp-for="PaymentId" class="form-control" asp-items="ViewBag.PaymentAmount"></select>
            </div>

            <div class="form-group">
                <label asp-for="Faculty.Name" class="control-label">Faculty Name</label>
                <select asp-for="FacultyId" class="form-control"  asp-items="ViewBag.Faculty"></select>
            </div>
            @*<div class="form-group">
                <label asp-for="IssuedDate" class="control-label"></label>
                <input asp-for="IssuedDate" class="form-control" />
                <span asp-validation-for="IssuedDate" class="text-danger"></span>
            </div>*@
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
